<template>
  <div
    class="modal fade"
    id="modal-data"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modal-data"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal- modal-dialog-centered modal-"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="modal-title-default">
            {{ modalConfig.header }}
          </h2>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-circle-08"></i
                ></span>
              </div>
              <input
                class="form-control"
                v-model="currentUser.name"
                placeholder="Nombre completo"
                type="text"
              />
            </div>
          </div>
          <div class="form-group mb-3">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"
                  ><i class="ni ni-email-83"></i
                ></span>
              </div>
              <input
                class="form-control"
                v-model="currentUser.email"
                placeholder="Correo electrónico"
                type="email"
              />
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-primary ml-auto" @click="save()">
            {{ modalConfig.button }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props:{
    currentUser:{
      type: Object,
      required: false,
      default: null
    }
  },
  data() {
    return {};
  },
  computed: {
    modalConfig() {
      if (this.currentUser.store) {
        return {
          header: "Crear usuario",
          button: "Crear",
          method: "POST",
          route: "user",
        };
      } else {
        return {
          header: `Actualizar usuario - ${this.currentUser.name}`,
          button: "Actualizar",
          method: "PUT",
          route: `user/${this.currentUser.id}`,
        };
      }
    },
  },
  methods: {
    async save() {
      Swal.fire({
        title: "Cargando...",
        allowEscapeKey: false,
        allowOutsideClick: false,
        didOpen: () => {
          Swal.showLoading();
        },
      });

      let req = await fetch(this.modalConfig.route, {
        method: this.modalConfig.method,
        headers: {
          "X-CSRF-TOKEN": document.querySelector("meta[name=csrf-token]").content,
          "Accept": "application/json",
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          name: this.currentUser.name,
          email: this.currentUser.email,
        }),
      });
      let res = await req.json();
      Swal.close();

      if (req.ok) {
        Swal.fire("¡Bien!", "Operación realizada exitosamente", "success");
        this.$emit('update-data');
        $("#modal-data").modal("hide");
      } else {
        if (req.status == 422) {
          Swal.fire(
            "Error",
            ` ${res.errors.name || res.errors.email}`,
            "error"
          );
        } else {
          Swal.fire(
            "Error",
            "Ocurrió un error inesperado. Intente mas tarde",
            "error"
          );
        }
      }
    },
  },
};
</script>