
<template>
  <div>
    <div class="table-responsive">
      <table class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo electrónico</th>
            <th scope="col" class="text-center">Fecha de creación</th>
            <th scope="col" class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in usersData" :key="user.id">
            <td>{{ user.name }}</td>
            <td>
              <a :href="`mailto:${user.email}`">{{ user.email }}</a>
            </td>
            <td class="text-center">{{ user.created_at | formatDate }}</td>
            <td class="text-center">
              <button
                class="btn btn-sm btn-warning"
                @click="
                  $emit('set-current-user', {
                    id: user.id,
                    name: user.name,
                    email: user.email,
                    store: false,
                  })
                "
                title="Editar"
              >
                <i class="fas fa-pencil-alt"></i>
              </button>
              <button
                class="btn btn-sm btn-danger"
                @click="deleteResource(user.id)"
                title="Eliminar"
              >
                <i class="far fa-trash-alt"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    usersData: {
      type: Array,
      required: false,
      default: [],
    },
  },
  data() {
    return {};
  },
  methods: {
    deleteResource(id) {
      Swal.fire({
        title: "¿Está seguro?",
        text: "Este registro será eliminado",
        icon: "question",
        confirmButtonText: "Aceptar",
        showCancelButton: true,
      }).then((result) => {
        if (result.isConfirmed) {
          this.$emit("delete-user", id);
        }
      });
    },
  },
  mounted() {
    this.$emit("update-data");
  },
};
</script>